// ==========================================================================
// Mixins Flex Box
// ==========================================================================

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-align-start {
    display: flex;
    align-items: flex-start;
}

@mixin flex-align-end {
    display: flex;
    align-items: flex-end;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-justify-start {
    display: flex;
    justify-content: flex-start;
}

@mixin flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

@mixin flex-direction-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-direction-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

@mixin flex-direction-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}
