// ==========================================================================
// Colors
// ==========================================================================

$background-color: #f0f0f7;
$font-size-default: 16px;

// button 
// $button-color                     : #ffe9e9;
$transition-function-ease-out-back: cubic-bezier(.175, .885, .32, 1.275);

$button-color                     : #8bc8fa;
$button-color-dark                : darken($button-color, 10%);
$button-color-border              : rgba(darken($button-color, 60%), .45);
$button-color-text                : darken($button-color, 85%);

$button-color-equal                     :#aaa;
$button-color-dark-equal                 : darken($button-color-equal, 10%);
$button-color-border-equal               : rgba(darken($button-color-equal, 60%), .45);
$button-color-text-equal                 : darken($button-color-equal, 85%);

$button-color-clean                     :rgb(255, 95, 95);
$button-color-dark-clean                : darken($button-color-clean, 10%);
$button-color-border-clean              : rgba(darken($button-color-clean, 60%), .45);
$button-color-text-clean                : darken($button-color-clean, 85%);

$font-size        : 20px;
$font-size-mobile : 14px;